*
    font-family: 'Major Mono Display', monospace
    font-size: .9rem
    font-weight: 500
    box-sizing: border-box
    margin: 0
    padding: 0

body
    background-image: url('../../public/images/mountain1.jpg')
    background-repeat: no-repeat
img
    max-width: 100%
    max-height: 100%

#pageTitle
    padding-left: 2rem
    margin-top: 4rem
    .solid
        font-size: 1.5rem
        text-align: center
        margin: 0 auto
        opacity: 0
        transition: opacity 2s ease-in
    .fade
        opacity: 1
    .start
        margin-top: 3rem
        ul
            width: 100%
            list-style: none
            padding: auto
            li
                float: left
                margin-left: 1rem
                .inputs:hover
                    background-color: #0000005f
                .btn
                    border: 1px inset #00000027
                    font-size: .7rem
                    padding: .5rem
                .btn:hover
                    background-color: #0000005f
#mesTaches
    margin: 6rem
    list-style: none

    li
        border: 1px solid
        padding: .2rem 1rem
        width: 100%
        text-align: left
        margin-bottom: .2rem

        i
            float: right
            padding: auto
            margin: 0 auto
            margin-left: .5rem  
        i:hover
            color: red  

.red
    background-color: red

/** usend in main.js*/
.done
    background-color: #00000027

.inputs
    background-color: #00000027
    border: 1px inset #00000027
    padding: .1rem

.fa-save
    padding-top: .2rem